@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli";
  background-image: url("../img/background.png");
}

#main_container {
  text-align: center;
}

.container_class {
  width: 1200px;
  height: 100vh;
  margin: auto;
}

.container_class #title {
  margin: auto;
  padding: 50px 0;
}

#title {
  width: 600px;
  margin: 20px 0;
  font-size: 60px;
  text-align: center;
  color: #C91051;
}

/* contenuto della pagina */
.main_container_class {
  display: block;
  width: 100%;
}

#level_title {
  padding: 20px 0;
}

#level {
  font-size: 15px;
  margin-bottom: 10px;
  color: #C91051;
  border: 1px solid #C91051;
}
#level:focus {
  outline: none;
}

.pointer_event_none {
  pointer-events: none;
}

.start_game {
  text-decoration: none;
  color: #C91051;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 5px;
  border: 1px solid #C91051;
  outline: none;
  cursor: pointer;   
}

/* contenitore griglia di gioco */
#grid_container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.game_grid {
  display: flex;
  flex-wrap: wrap;
  width: 602px;
  border: 1px solid #C91051;
  margin: auto;
  background-color: #C91051;
}
.game_grid_500 {
  height: 602px;
}
.game_grid_400 {
  height: 482px;
}
.game_grid_250 {
  height: 302px;
}

.square_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(60px - 2px);
  height: calc(60px - 2px);
  margin: 1px;
  font-size: 15px;
  cursor: pointer;
  animation: fadeIn 600ms ease-in-out;
  transition: all linear 0.1s;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.square_style img {
  width: 100%;
}

.square_style.clicked {
  font-size: 30px;
}

.fade_out {
  animation: fadeOut 1000ms ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.score_text {
  font-size: 80px;
  margin-top: 150px;
}

.retry_game_button {
  margin-top: 50px;
}
